{
  "presets": [
    ["react"]
  ],
  "plugins": [
    ["babel-plugin-react-css-modules", {
      "generateScopedName": "[local]--[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}