.radio-container {
  display: block;
}

.radio-card {
  width: 710px;
  height: 365px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #47e4c1, #07cddd);
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}